@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&family=Roboto&family=Source+Sans+3&display=swap");
.openSans {
    font-family: "Open Sans", sans-serif;
}
.poppins {
    font-family: "Poppins", sans-serif;
}
.roboto {
    font-family: "Roboto", sans-serif;
}
.sourceSans {
    font-family: "Source Sans 3", sans-serif;
}
